.Fragebogen {
    width: 370px;
    background-color: rgb(88, 79, 111);
    margin-left: 50%;
    transform: translate(-50%);
    top: -900px;
    bottom: 0;
}

.ErgebnisButton{
    margin-top: 20px;
    margin-bottom: 200px;
    height: 70px;
    width: 130px;
    border: 2px solid white;
    background-color: rgb(88, 79, 111) ;
    color: white;
}
