.Fragebogen {
    height: 78vh;
    width: 20.5%;
    background-color: rgb(88, 79, 111);
    margin-left: 50.4%;
    transform: translate(-50%);
    margin-top: 0px;
    bottom: 0;
    position: fixed;
    overflow: scroll;
}

.TestHeader{
    color: white;
    padding: 10%;
}

.TestText2{
    font-style: italic;
    font-size: 0.7em;
}


.ErgebnisButton{
    margin-top: 20px;
    height: 70px;
    width: 130px;
    border: 2px solid white;
    background-color: rgb(88, 79, 111) ;
    color: white;
    margin-bottom: 100px;
}
