.Fragebogen {
    height: 100%;
    width: 45vh;
    background-color: rgb(88, 79, 111);
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 200px;
    bottom: 0;
}

.ErgebnisButton{
    margin-top: 20px;
    height: 70px;
    width: 130px;
    border: 2px solid white;
    background-color: rgb(88, 79, 111) ;
    color: white;
}
