.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: black;
}

.Headline{
  color: white;
}

.Phone{
  height: 100vh;
  width: 100%;
  z-index: 1000;
  top: 0;
  position: sticky;
  pointer-events: none;
}

.Fragebogen{
  width: 20%;
  z-index: 100;
  top: 120px;
}
